.task-form {
  background: none;

  &__item {
    margin-bottom: 8px;
    --border-radius: 10px;

    &-padding {
      --inner-padding-bottom: 8px;
    }
  }

  &__button {
    --padding-start: 0px;
    --padding-end: 0px;
  }
}
