.category-create {
  display: flex;
  padding-bottom: 6px;
  align-items: center;
  justify-content: center;
}

.categories-list {
  &__content {
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }

  &__actions {
    margin: 0 9px;
    background: none;
  }

  &__item {
    --inner-padding-bottom: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start:	0px;
    --inner-padding-top: 0px;
  }

  &__button {
    --padding-end: 0px;
    --padding-start: 0px;
    margin-inline-end: 6px;
    margin-inline-start: 6px;
  }
}
